<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="http://localhost:3000/CDN/L8_module_v1" type="module"></script>
  <script src="./spa.mjs" type="module"></script>
  <link rel="stylesheet" href="./spa.css">
  <link rel="stylesheet" href="./stylesheet.css">
  <title>./home(spa)</title>
</head>
  <%- include("./partials/navbar.ejs") %>
  <div id="citizenTag">
    <h5>Chosen Identity:</h5>
    <p id="citizen"></p>
  </div>
<body>
  <div id="main-body">
    <div class="">
      <div class="" id="poemSelection">
        <h4><%= choice %></h4>
        <div class="m-2 p-2"><a href="/poem1">Poem 1</a></div>
        <div class="m-2 p-2"><a href="/poem2">Poem 2</a></div>
        <div class="m-2 p-2"><a href="/poem3">Poem 3</a></div>
      </div>
    </div>
    <div class="" id="">
      <h1><%= title %></h1>
      <h4><%= author %></h4>
      <p><%= body %></p>
    </div>
  </div>
</body>
  <%- include("./partials/footer.ejs", {placeholder: "placeholder"})%>
</html>